---
import { Button } from "@/components/ui/button"

const today = new Date()
---

<footer class="max-w-xl mx-auto space-y-10 px-4 py-40">
  <h3 class="font-bold uppercase">Let's connect</h3>
  <p>
    Whether you have a project in mind, a question, or just want to say hi, feel
    free to reach out.
  </p>
  <div class="flex gap-4">
    <Button>Contact Me</Button>
    <Button variant="secondary">Book a call</Button>
  </div>

  <div class="py-10">
    <p class="mb-4">You can also find me on</p>

    <div class="flex gap-4">
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="underline">
        <span class="sr-only">Follow me on X</span>
        Twitter X
      </a>
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="underline">
        <span class="sr-only">Follow me on LinkedIn</span>
        LinkedIn
      </a>
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="underline">
        <span class="sr-only">Follow me on Github</span>
        Github
      </a>
      <a href="https://m.webtoo.ls/@astro" target="_blank" class="underline">
        <span class="sr-only">Follow me on Instagram</span>
        Instagram
      </a>
    </div>
  </div>
  &copy; Copyright {today.getFullYear()} – Mustafa Adam Alshammaa. <br /> All rights
  reserved.
</footer>
