---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
---

<header class="py-20">
  <nav class="max-w-xl mx-auto flex justify-between px-4">
    <a href="/">
      <Image
        src="/logo.svg"
        alt="A bird sitting on a nest of eggs."
        width="40"
        height="40"
        loading="eager"
      />
    </a>
    <div class="main-nav-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/blog">Writing</HeaderLink> -->
    </div>
  </nav>
</header>
