---
import HeaderLink from "./HeaderLink.astro"
import { ModeToggle } from "./ModeToggle"
---

<header class="py-20">
  <nav class="container flex justify-between px-8">
    <a href="/" aria-label="Mustafa Alshammaa's custom logo">
      <svg
        width="34"
        height="24"
        viewBox="0 0 34 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="10"
          height="24"
          rx="4"
          class="fill-current text-gray-800 dark:text-white"></rect>
        <rect
          x="12"
          width="10"
          height="24"
          rx="4"
          class="fill-current text-gray-800 dark:text-white"></rect>
        <path
          d="M24 0.740742C24 0.331642 24.3316 0 24.7407 0V0C29.8545 0 34 4.14551 34 9.25926V22.2222C34 23.2041 33.2041 24 32.2222 24H29C28.0707 24 27.606 24 27.2196 23.9231C25.6329 23.6075 24.3925 22.3671 24.0769 20.7804C24 20.394 24 19.9293 24 19V0.740742Z"
          class="fill-current text-orange-400"></path>
      </svg>
    </a>
    <div class="main-nav-links flex gap-4 items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <ModeToggle client:load />
    </div>
  </nav>
</header>
