---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
import { ModeToggle } from "./ModeToggle"
---

<header class="py-20">
  <nav class="container flex justify-between px-8">
    <a href="/">
      <Image
        src="/logo.svg"
        alt="A bird sitting on a nest of eggs."
        width="40"
        height="40"
        loading="eager"
      />
    </a>
    <div class="main-nav-links flex gap-4 items-center">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <!-- <HeaderLink href="/blog">Writing</HeaderLink> -->
      <ModeToggle client:load />
    </div>
  </nav>
</header>
