---
import { Image } from "astro:assets"
---

<div class="bg-gray-100 p-10 max-w-lg rounded-lg">
  <blockquote>
    “Mustafa is an experienced developer with leadership instinct and commitment
    and also very fun to work with.”
  </blockquote>

  <Image
    src="/logo.svg"
    alt="A bird sitting on a nest of eggs."
    width="40"
    height="40"
    loading="eager"
  />
</div>
